@model List<JobsityChat.WebUI.Models.Response.ChatMessageResponseModel>

@{
    ViewData["Title"] = "Chat Room";
}

@section Styles {
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/ChatRoom.css" />
}

<div class="text-center">
    <h3 class="display-7">Jobsity Chat Room</h3>
</div>

<div class="row">
    <div class="col-md-8 bg-white" style="margin:0 auto;">
        <div class="chat-message">
            <ul class="chat">

                @foreach (var messageItem in Model)
                {
                    if (messageItem.UserName == User.Identity.Name)
                    {
                        @*outgoing message*@
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="~/images/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">@messageItem.UserFullName</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> @messageItem.CreatedAt</small>
                                </div>
                                <p>
                                    @messageItem.Message
                                </p>
                            </div>
                        </li>
                    }
                    else
                    {
                        @*incoming message*@
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="~/images/user_2.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">@messageItem.UserFullName</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> @messageItem.CreatedAt</small>
                                </div>
                                <p>
                                    @messageItem.Message
                                </p>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="chat-box bg-white">
            <div class="input-group">
                <input id="txtMessage" class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                <span class="input-group-btn">
                    <button id="btnSendMessage" class="btn btn-success no-rounded" type="button">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            //TODO:


        });

    </script>
}