@model List<JobsityChat.WebUI.Models.Response.ChatMessageResponseModel>

@{
    ViewData["Title"] = "Chat Room";
}

@section Styles {
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/ChatRoom.css" />
}

<div class="text-center">
    <h3 class="display-7">Jobsity Chat Room</h3>
</div>

<div class="row">
    <div class="col-md-8 bg-white" style="margin:0 auto;">
        <div class="chat-message">
            <ul id="message-list" class="chat">

                @foreach (var messageItem in Model)
                {
                    if (messageItem.UserName == User.Identity.Name)
                    {
                        @*outgoing message*@
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="~/images/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">@messageItem.UserFullName</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> @messageItem.CreatedAt</small>
                                </div>
                                <p>
                                    @messageItem.Message
                                </p>
                            </div>
                        </li>
                    }
                    else
                    {
                        @*incoming message*@
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="~/images/user_2.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">@messageItem.UserFullName</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> @messageItem.CreatedAt</small>
                                </div>
                                <p>
                                    @messageItem.Message
                                </p>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="chat-box bg-white">
            <div class="input-group">
                <input id="txtMessage" class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                <span class="input-group-btn">
                    <button id="btnSendMessage" class="btn btn-success no-rounded" type="button">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/signalr/signalr.js"></script>
    <script type="text/javascript">
        var $btnSendMessage = $('#btnSendMessage');
        var $txtMessage = $('#txtMessage');
        var $messageList = $('#message-list')
        var $messageContainer = $(".chat-message");

        $(function () {
            scrollToLastMessage();
        });

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("http://localhost:5000/hubs/chatroom")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        $btnSendMessage.click(function (e) {

            var message = $txtMessage.val();

            if (!message) return;

            var messageItem = {
                Message: message,
                UserName: '@User.Identity.Name'
            };

            connection.send("SendMessage", messageItem);

            $txtMessage.val('');
            e.preventDefault();
        });

        $txtMessage.keypress(function (e) {

            var keyPressed = e.keyCode || e.charCode;

            if (keyPressed === 13) {
                $btnSendMessage.click();
            }

        });

        connection.on("ReceiveMessage", function (messageItem) {
            console.log(messageItem);

            var newMessage = getMessageContent(messageItem);

            $messageList.append(newMessage);
            scrollToLastMessage();
        });

        connection.on("SendAction", function (sender, action) {
            console.log(sender + ' ' + action);
        });

        connection.start().then(function () {

        })
            .catch(err => console.error(err.toString()));


        function getMessageContent(messageItem)
        {
            var content = '';

            if (messageItem.userName == '@User.Identity.Name') {
                /* outgoing message */
                content += '<li class="right clearfix">';
                content += '<span class="chat-img pull-right">';
                content += '<img src="/images/user_1.jpg" alt="User Avatar">';
                content += '</span>';
                content += '<div class="chat-body clearfix">';
                content += '<div class="header">';
                content += '<strong class="primary-font">' + messageItem.userFullName + '</strong>';
                content += '<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> ' + messageItem.createdAt + '</small>';
                content += '</div>';
                content += '<p>' + messageItem.message + '</p>';
                content += '</div>';
                content += '</li>';
            } else {
                /* incoming message */
                content += '<li class="left clearfix">';
                content += '<span class="chat-img pull-left">';
                content += '<img src="/images/user_2.jpg" alt="User Avatar">';
                content += '</span>';
                content += '<div class="chat-body clearfix">';
                content += '<div class="header">';
                content += '<strong class="primary-font">' + messageItem.userFullName + '</strong>';
                content += '<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> ' + messageItem.createdAt + '</small>';
                content += '</div>';
                content += '<p>' + messageItem.message + '</p>';
                content += '</div>';
                content += '</li>';
            }

            return content;
        }

        function scrollToLastMessage() {
            try {
                $messageContainer.stop().animate({ scrollTop: $messageContainer[0].scrollHeight }, 1000);
            } catch (e) {

            }
        }
    </script>
}